<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tanks" href="/tabs/tanks">
      <ion-icon aria-hidden="true" src="assets/icon/tankicon.svg"></ion-icon>
      <ion-label>Tanks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="measurements" href="/tabs/measurements">
      <ion-icon aria-hidden="true" src="assets/icon/measureicon.svg"></ion-icon>
      <ion-label>Measurements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
